doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block signInStyle
    block signUpStyle
    block comepleteStyle
    block mainStyle
  body
    .container
      include ./components/Header/Header
      block error
      block signup
      block signin
      block main
      block complete