extends ../../index

block signup
  .container
    strong.requiredInput 필수 정보를 입력해주세요.
    form.registerForm
      include ./Sections/InputId
      include ./Sections/InputPw
      include ./Sections/InputEmail
      include ./Sections/InputName
      include ./Sections/AuthPhone

      input(type='checkbox')
      strong 선택 정보를 입력하시겠어요?
      a(href="/") 내용보기
      input.postcode(type='number', placeholder="우편번호")
      button.findAddr(onClick="findAddr()") 주소찾기
      input.address(type='text', placeholder="주소")
      input.detailAddr(type="text", placeholder="상세 주소")

      input(type='checkbox')
      strong 전체 약관에 동의합니다
      input(type='checkbox')
      span 필수 항목에 동의합니다
      a(href="/") 배민사장님광장 이용약관
      a(href="/") 개인정보 수집이용 동의
      input(type='checkbox')
      span 광고성 정보 수신 동의 (선택)
      ul
        li 만 14세 이상 회원만 강비 가능합니다
      a(href='/') 내용보기
      button(type='submit') 가입완료
  
  //- 유효성 검사
  script(src='/javascripts/validate.js')
  //- 이메일 핸들러
  script(src='/javascripts/emailSelect.js') 

