extends ../../index

block signup
  .container
    strong.requiredInput 필수 정보를 입력해주세요.
    form.registerForm
      include ./Sections/InputId
      include ./Sections/InputPw
      include ./Sections/InputEmail
      include ./Sections/InputName
      include ./Sections/AuthPhone
      include ./Sections/InputAddress
      include ./Sections/checkPolicy

      button.submitSignUp(type='submit') 가입완료
  
  //- 유효성 검사
  script(src='/javascripts/validate.js')
  //- 이메일 핸들러
  script(src='/javascripts/emailSelect.js')
  //- 다음 주소 api
  script(src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js")
  script(src='/javascripts/findAddr.js')
  //- 전체 약관에 동의
  script(src='/javascripts/policyCheck.js')