button {
    display: block;
    text-align: center;
    border: 0;
    margin-top: 30px;
    padding: 22px 0 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #1a7cff;
}

.loginForm{
    width: 330px;
    margin: auto;
}


.accountId, .accountPwd{
    width: 100%;
    height: 45px;
    color: #212329;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #d7dbe6;
    margin-bottom: 10px;
    padding: 12px 14px;
    box-sizing: border-box;
    font: 400 13px Arial;
    letter-spacing: -0.6px;
    transition: border-color 0.15s ease-in-out;
}

.saveId{
    color: #212329;
}

.saveId input[type=checkbox] + label {
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.saveId label{
    padding-left: 10px;
    height: 24px;
    font-size: 16px;
}

.findAccount{
    color: #8e929f;
    font-size: 12px;
    display: flex;
    /* margin: 10px; */
}

.setLogin{
    display: flex;
    vertical-align: middle;
    margin-top: 5px;
}

.findAccount a, .a-signUp{
    text-decoration: none;
    color: #8e929f;
    font-size: 12px;
    font-weight: 500;
}

.findAccount{
    margin-left: auto;
}

.a-signUp{
    margin-left: 16px;
}

.errorMsg{
    font-size: 12px;
    text-align: left;
    color: #f45452;
}