html, body, div, span, a, p, strong, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
}
.container {
  margin: auto;
  padding: 0 60px;
  width: 328px;
  display: flex;
  flex-direction: column;
}

.logo{
  display: block;
  margin-bottom: 40px;
  text-align: center;
}

.logo img{
  width: 220px;
  vertical-align: top;
}