.authPhone
    input.phone(type='text', name="phone" placeholder="휴대폰*", onKeyup="this.value=this.value.replace(/[^0-9]/g,'')", onChange="activeAuth()")
    button.authBtn(onClick="auth(event)", disabled) 인증받기
.inputAuth
.authPhoneDesc
    ul
        li 인증번호 전송은 통신사에 따라 최대 1분까지 소요될 수 있습니다.
        li 인증번호가 도착하지 않을 경우 '인증번호 재전송'을 눌러주세요.

.modal
    .modalContent
        .msgContainer
            .sendMsg 인증번호를 발송했습니다.
            .smsCheckReq 휴대폰 SMS 발송된 인증번호를 확인해 주세요.
        button.okBtn 확인
    .modalLayer