block checkPolicy
    input.checkAll(type='checkbox', onclick="allCheck()")
    strong 전체 약관에 동의합니다
    input.checkRequired(type='checkbox')
    span 필수 항목에 동의합니다
    a(href="/") 배민사장님광장 이용약관
    a(href="/") 개인정보 수집이용 동의
    input.checkAd(type='checkbox')
    span 광고성 정보 수신 동의 (선택)
    ul
      li 만 14세 이상 회원만 강비 가능합니다
    a(href='/') 내용보기