.inputPw
    input.accountPw(type='password', placeholder="비밀번호* (영문+숫자, 8~20자)", onChange="checkPw()", name="password")
    .pwMsg
    input.confirmPw(type='password', placeholder="비밀번호 재확인*", onChange="confirmPwd()", name="confirmPw")
    .confirmPwMsg
