block inputEmail
    input.emailId(type='text', placeholder="이메일 앞자리*")
    span @
    input.emailAddr(type='text', placeholder="이메일 뒷자리*")
    select.emailSelect(onChange="onEmailHandler()")
        option.none(disabled, selected) 이메일 선택
        option.direct 직접입력
        option.naver naver.com
        option.daum daum.net
        option.google gmail.com